<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Menu</title>
<link th:href="@{/styles/employeestyle.css}" rel="stylesheet">
</head>
<body>
<h2> Return Issued Book</h2>
<form action="#" th:action="@{./placeholder}" th:object="${command}" method="post">
Select Issued Book ID: <select th:field="*{id}">
	<option th:each="bookId : ${bookIds}" th:value="${bookId}" th:text="${bookId}"/>
</select>
<br>
<input type = "submit" value="Return book" >
</form>
</body>
</html>